In [1]:
import winthrop_client_python
from winthrop_client_python.models.job_post_collection import JobPostCollection
import pandas as pd
from sqlalchemy import text

In [2]:
host = 'https://api.winad-hq.com'
api_key = 'ZaRMzpu627tFSmVFxkb9C3m8iJBswJ5gd2Ljf81LwLrBvjmtDdRzvyLwxCrRcnin'

In [3]:
def create_instance(host_in,api):
    configuration = winthrop_client_python.Configuration(
        host = host_in
    )

    configuration.api_key_prefix['ApiKey'] = 'Token'
    configuration.api_key['ApiKey'] = api
    api_client = winthrop_client_python.ApiClient(configuration)
    api_instance = winthrop_client_python.DefaultApi(api_client)
    return api_instance

In [4]:
ransack_query = {
            "categories_ancestry_start": "/4/", 
            "s": "updated_at desc"  
            }
ci_instance = create_instance(host,api_key)
pages = 3
job_post_df = pd.DataFrame()
for i in range(1,pages+1):
    api_response = ci_instance.get_job_posts(page=i,q=ransack_query)
    api_response_dict = JobPostCollection.to_dict(api_response)
    temp = pd.DataFrame(api_response_dict['data'])
    job_post_df = pd.concat([job_post_df,temp],ignore_index=True)

In [6]:
columns = ['id','title','description_md','created_at']
temp = job_post_df[columns]
temp = temp.rename(columns={'id':'job_id'})

In [13]:
temp['created_at'].dt.date

0      2024-08-07
1      2024-08-07
2      2024-08-07
3      2024-08-07
4      2024-08-07
          ...
295    2024-08-07
296    2024-08-07
297    2024-08-07
298    2024-08-07
299    2024-08-07
Name: created_at, Length: 300, dtype: object

In [14]:
temp.head()

,job_id,title,description_md,created_at
0,708776,Gameday Staff - 50/50 Sales-20,**Department:**\r\n\r\nUCF Athletics - Ticket...,2024-08-07 11:54:00.274000+00:00
1,709768,Men’s Assistant Varsity & Head JV Basketball C...,\r\n\r\nWilliams Baptist University seeks qua...,2024-08-07 12:52:12.340000+00:00
2,709703,Assistant Softball Coach-Outfield,"Webster University Athletics, a member of NCAA...",2024-08-07 12:46:53.462000+00:00
3,709703,Assistant Softball Coach-Outfield,"Webster University Athletics, a member of NCAA...",2024-08-07 12:46:53.462000+00:00
4,708472,Assistant Softball Coach,[Apply](/Recruiting/Jobs/Apply/2638618) \r\n ...,2024-08-07 11:27:12.397000+00:00