In [16]:
import winthrop_client_python

In [21]:
from winthrop_client_python.models.job_post_collection import JobPostCollection

In [26]:
import pandas as pd

In [17]:
api_key = "ZaRMzpu627tFSmVFxkb9C3m8iJBswJ5gd2Ljf81LwLrBvjmtDdRzvyLwxCrRcnin"
host = 'https://api.winad-hq.com'

In [18]:
def create_instance(host_in,api):
    configuration = winthrop_client_python.Configuration(
        host = host_in
    )

    configuration.api_key_prefix['ApiKey'] = 'Token'
    configuration.api_key['ApiKey'] = api
    api_client = winthrop_client_python.ApiClient(configuration)
    api_instance = winthrop_client_python.DefaultApi(api_client)
    return api_instance

In [19]:
ransack_query = {
            "catetgories_ancestry_start": "/1/", 
            "s": "updated_at desc"  
            }
ci_instance = create_instance(host,api_key)
api_response = ci_instance.get_job_posts(q=ransack_query)

In [20]:
type(api_response)

winthrop_client_python.models.job_post_collection.JobPostCollection

In [22]:
test = JobPostCollection.to_dict(api_response)

In [27]:
test_df = pd.DataFrame(test['data'])

In [30]:
test_df[['id','title','description_md']]

,id,title,link,description_md,salary_summary,categories,school_id
0,691475,Head Men's and Women Golf Coach,https://paine.edu/web/about%20/employment/athl...,\r\n## Head Men's and Women's Golf Coach\r\n ...,,"[{'id': 12, 'name': 'Athletic Department', 'an...",1836341450
1,691302,Assistant Football Coach,https://recruiting.ultipro.com/SHA1011TSHAU/Jo...,\r\n \r\n## Job Details\r\n \r\n \r\n \r\n###...,,"[{'id': 2, 'name': 'Faculty', 'ancestry': '/',...",1836340609
2,691292,Second Assistant Lacrosse Coach,https://simmons.wd1.myworkdayjobs.com/en-US/Si...,**JOB SUMMARY** \r\nReporting to the head co...,Unknown,"[{'id': 2, 'name': 'Faculty', 'ancestry': '/',...",1836343195
3,691286,Women's Volleyball Assistant Coach,https://www.schooljobs.com/careers/snowcollege...,\r\n## Qualifications\r\n \r\n\r\n- A minimum...,,"[{'id': 12, 'name': 'Athletic Department', 'an...",1836343201
4,690569,Assistant Football Coach,https://newhaven.hrmdirect.com/employment/job-...,\r\n \r\n \r\n \r\n\r\n \r\n## Assistant Foot...,,"[{'id': 2, 'name': 'Faculty', 'ancestry': '/',...",1836340563
...,...,...,...,...,...,...,...
95,692747,Administrative Secretary - Testing Center,https://www.schooljobs.com/careers/alasu/jobs/...,\n## Job Description\n \n\nAlabama State Univ...,NaN,"[{'id': 6, 'name': 'Administrative Assistants'...",1836339702
96,692750,Research Assistant,https://workforcenow.adp.com/mascsr/default/md...,\n \n\n**Position Summary:**\n\nThe Researc...,NaN,"[{'id': 47, 'name': 'Laboratory and Research',...",1836342507
97,692751,Assistant Professor / lecturer - PAF Academy A...,https://portals.au.edu.pk/jobs/forms/JobDetail...,\n\n \n\n \n\n \n\n \n\n \n\n1.\n\n \n\nEligi...,Air University offers a competitive salary pac...,"[{'id': 2, 'name': 'Faculty', 'ancestry': '/',...",1836342505
98,635132,Opeations Supervisor for BTS,https://www.schooljobs.com/careers/aamu/jobs/4...,\n## Description\n \n\nSummary: \nThis posit...,NaN,"[{'id': 15, 'name': 'Business and Financial Se...",1836339851
99,663136,Deputy Director Administration & Support(Fazai...,https://portals.au.edu.pk/jobs/forms/JobDetail...,\n\n \n\n \n\n \n\n \n\n \n**Qualification:**...,NaN,"[{'id': 15, 'name': 'Business and Financial Se...",1836342505