In [16]:
import winthrop_client_python
from winthrop_client_python.models.job_post_collection import JobPostCollection
import pandas as pd
from sqlalchemy import text

In [ ]:
host = 'https://api.winad-hq.com'
api_key = 'ZaRMzpu627tFSmVFxkb9C3m8iJBswJ5gd2Ljf81LwLrBvjmtDdRzvyLwxCrRcnin'

In [18]:
def create_instance(host_in,api):
    configuration = winthrop_client_python.Configuration(
        host = host_in
    )

    configuration.api_key_prefix['ApiKey'] = 'Token'
    configuration.api_key['ApiKey'] = api
    api_client = winthrop_client_python.ApiClient(configuration)
    api_instance = winthrop_client_python.DefaultApi(api_client)
    return api_instance

In [19]:
ransack_query = {
            "catetgories_ancestry_start": "/1/", 
            "s": "updated_at desc"  
            }
ci_instance = create_instance(host,api_key)
api_response = ci_instance.get_job_posts(q=ransack_query)

In [20]:
type(api_response)

winthrop_client_python.models.job_post_collection.JobPostCollection

In [22]:
test = JobPostCollection.to_dict(api_response)

In [27]:
test_df = pd.DataFrame(test['data'])

In [36]:
columns = ['id','title','description_md','created_at']

In [38]:
result = test_df[columns]

In [40]:
result.insert(0,'cont',10)

In [41]:
result.head()

,cont,id,title,description_md,created_at
0,10,691475,Head Men's and Women Golf Coach,\r\n## Head Men's and Women's Golf Coach\r\n ...,2024-07-30 10:57:28.885000+00:00
1,10,691302,Assistant Football Coach,\r\n \r\n## Job Details\r\n \r\n \r\n \r\n###...,2024-07-30 10:33:57.019000+00:00
2,10,691292,Second Assistant Lacrosse Coach,**JOB SUMMARY** \r\nReporting to the head co...,2024-07-30 10:33:10.037000+00:00
3,10,691286,Women's Volleyball Assistant Coach,\r\n## Qualifications\r\n \r\n\r\n- A minimum...,2024-07-30 10:32:09.905000+00:00
4,10,690569,Assistant Football Coach,\r\n \r\n \r\n \r\n\r\n \r\n## Assistant Foot...,2024-07-30 09:35:11.381000+00:00

In [43]:
result.rename(columns={'id':'job_id'})

,cont,job_id,title,description_md,created_at
0,10,691475,Head Men's and Women Golf Coach,\r\n## Head Men's and Women's Golf Coach\r\n ...,2024-07-30 10:57:28.885000+00:00
1,10,691302,Assistant Football Coach,\r\n \r\n## Job Details\r\n \r\n \r\n \r\n###...,2024-07-30 10:33:57.019000+00:00
2,10,691292,Second Assistant Lacrosse Coach,**JOB SUMMARY** \r\nReporting to the head co...,2024-07-30 10:33:10.037000+00:00
3,10,691286,Women's Volleyball Assistant Coach,\r\n## Qualifications\r\n \r\n\r\n- A minimum...,2024-07-30 10:32:09.905000+00:00
4,10,690569,Assistant Football Coach,\r\n \r\n \r\n \r\n\r\n \r\n## Assistant Foot...,2024-07-30 09:35:11.381000+00:00
...,...,...,...,...,...
95,10,692747,Administrative Secretary - Testing Center,\n## Job Description\n \n\nAlabama State Univ...,2024-07-30 13:05:21.480000+00:00
96,10,692750,Research Assistant,\n \n\n**Position Summary:**\n\nThe Researc...,2024-07-30 13:05:33.724000+00:00
97,10,692751,Assistant Professor / lecturer - PAF Academy A...,\n\n \n\n \n\n \n\n \n\n \n\n1.\n\n \n\nEligi...,2024-07-30 13:05:44.765000+00:00
98,10,635132,Opeations Supervisor for BTS,\n## Description\n \n\nSummary: \nThis posit...,2024-07-02 14:05:24.463000+00:00
99,10,663136,Deputy Director Administration & Support(Fazai...,\n\n \n\n \n\n \n\n \n\n \n**Qualification:**...,2024-07-16 14:10:15.145000+00:00

In [44]:
result.head()

,cont,id,title,description_md,created_at
0,10,691475,Head Men's and Women Golf Coach,\r\n## Head Men's and Women's Golf Coach\r\n ...,2024-07-30 10:57:28.885000+00:00
1,10,691302,Assistant Football Coach,\r\n \r\n## Job Details\r\n \r\n \r\n \r\n###...,2024-07-30 10:33:57.019000+00:00
2,10,691292,Second Assistant Lacrosse Coach,**JOB SUMMARY** \r\nReporting to the head co...,2024-07-30 10:33:10.037000+00:00
3,10,691286,Women's Volleyball Assistant Coach,\r\n## Qualifications\r\n \r\n\r\n- A minimum...,2024-07-30 10:32:09.905000+00:00
4,10,690569,Assistant Football Coach,\r\n \r\n \r\n \r\n\r\n \r\n## Assistant Foot...,2024-07-30 09:35:11.381000+00:00